<section class="view">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="controls">
                    <select class="form-control input-large" id="superHeroTypeFilter" ng-model="filter.superHeroType" ng-options="p.id as p.name for p in superHeroTypes">
                        <option value="" disabled selected>super hero type</option>
                     </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="controls">
                    <select class="form-control input-large" id="orderBy" ng-model="filter.orderBy" ng-options="p.value as p.description for p in orderByOptions">
                        <option value="" disabled selected>order by</option>
                     </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="controls">
                    <select class="form-control input-large" id="orderByDirection" ng-model="filter.orderByDirection" ng-options="p.value as p.description for p in orderByDirections">
                        <option value="" disabled selected>order by direction</option>
                     </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="controls">
                    <input type="text" class="form-control input-large" id="search-filter" placeholder="filter here by name, company, email address or twitter handle" ng-model="filter.search">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section>
                <article ng-repeat="contact in contacts | filter:filter.search | isSuperHero:filter.superHeroType | orderBy:filter.orderBy:filter.orderByDirection">
                    <div title="Go to contact details" class="contact" mouse-enter-css="active" mouse-leave-css="active" ng-click="gotoContactDetails(contact)">
                        <img class="contacts-img" ng-src={{contact.imageUrl}}>
                        <h3>{{contact.firstName}} {{contact.lastName}}</h3>
                        <h6">{{contact.companyName}}</h6>
                    </div>
                </article>
            </section>
        </div>
    </div>
</section>
