<section class="view">
    <div class="form-group">
        <div class="controls">
            <button type="submit" class="btn btn-success" ng-click="goBack()">Back</button>
        </div>
    </div>
    <div class="row">
        <img class="contact-img" ng-src="{{contact.imageUrl}}">
        <section>
            <article>
                <div class="contact-card">
                    <h3 class="text-center">{{contact.firstName}} {{contact.lastName}}</h3>                    
                    <h4 class="text-center">{{contact.companyName}}</h4>                    
                    <h6 class="text-center">{{contact.emailAddress}}</h6>                    
                    <h6 class="text-center">{{contact.twitter}}</h6>                    
                </div>
            </article>
        </section>
    </div>	

    <form class="form margin-top-small" name="contactForm">
         <fieldset>
        <legend>Superheroic Contact</legend>
        <div class="form-group">
            <label class="control-label" for="first-name">First Name</label>
            <div class="controls">
                <input type="text" class="form-control" required id="first-name" placeholder="Enter first name"  ng-model="contact.firstName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="last-name">Last Name</label>
            <div class="controls">
                <input type="text" class="form-control" required id="last-name" placeholder="Enter last name" ng-model="contact.lastName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="company-name">Company Name</label>
            <div class="controls">
                <input type="text" class="form-control" required id="company-name" placeholder="Enter company name" ng-model="contact.companyName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="email-address">Email</label>
            <div class="controls">
                <input type="text" class="form-control" required ng-pattern="{{regularExpressions.emailAddress}}" id="email-address" placeholder="Enter email address" ng-model="contact.emailAddress">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="twitter-handle">Twitter Handle</label>
            <div class="controls">
                <input type="text" class="form-control" required id="twitter-handle" ng-pattern="{{regularExpressions.twitter}}" placeholder="Enter twitter handle" ng-model="contact.twitter">
            </div>
        </div>
        <div class="form-group margin-top-small">
            <div class="controls">
                <button type="submit" class="btn btn-primary" required ng-disabled="contactForm.$invalid" ng-click="save(contact, contactForm)">Save</button>
            </div>
        </div>	
        <div class="alert alert-info" ng-show="hasSaved">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Confirmation: </strong>Superheroic contact saved!<br>
        </div>
        </fieldset>
    </form>
</section>